{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- barra cotización dolar -->
{% if tema %}

  {% if tema.mostrar_dolar %}
  <div class="row mt-1 bg-dark text-light">
    <div class="col-12 fcc">
      <marquee scrollamount="9">
        Cotización Dolar/Peso Argentino: 
        {% for cotizacion in dolar %}
        {{cotizacion.0}} : {{cotizacion.1}} |
        {% endfor %}
      </marquee>
    </div>
  </div>
  {% endif %}
  

 
<div class="container">
<!-- Titulo -->
  <div class="row mt-5">
    <h1 class="text-center">{{tema.titulo_principal}}</h1>
  </div>
<!-- Presentación 1 -->
  <div class="row mt-5 d-flex presentacion1">
    <div class="col-12 col-md-6">
      <img class= "img-fluid" src="{{tema.imagen_1.url}}" alt="trabajo-equipo">
    </div>
    <div class="col-12 col-md-6">
      <div>
      <h2>{{tema.titulo1}}</h2>
      <p>{{tema.texto1}}</p>
      </div>
    </div>
  </div>
<!-- Presentación 2 -->
  <div class="row mt-5 d-flex presentacion2">
    <div class="col-12 col-md-6">
      <h2>{{tema.titulo2}}</h2>
      <p>{{tema.texto2}}</p>
    </div>
    <div class="col-12 col-md-6">
      <img class= "img-fluid" src="{{tema.imagen_2.url}}" alt="trabajo-equipo">
    </div>
  </div>
<!-- Profesional matriculado -->
  <div class="row bg-dark mt-5 text-center">
    <div class="col-12  text-light p-5">
      <h2><i class="fas fa-exclamation-circle"></i> Contrata a un Profesional Matriculado</h2>
      <p>Te aseguras de contar con alguien con conocimientos actualizados y cuya actividad está regulada 
        por la ley. Yo cuento con matricula activa en el Colegio de Graduados en Ciencias Económicas de Tucumán, 
        ¡di <strong>NO</strong> al ejercicio ilegal de la Profesión!</p>
        
    </div>
  </div>
</div>
<!-- servicios y contacto -->
<div class="row mt-5 servicios_contacto" style="background-image:url('{{tema.imagen_Servicios.url}}');">
  <!-- servicios -->
  <div class="col-lg-6 col-md-12">
    <div class="home__serviceTit"><h2>Servicios</h2></div>
    <div class="row d-flex justify-content-around home__serviceCard_cont">
      <a href="#" class="col-12 fcc home__serviceCard text-decoration-none text-dark">
        <h3>{{tema.servicio_1}}</h3>
      </a>
      <a href="#" class="col-12 fcc home__serviceCard text-decoration-none text-dark">
        <h3>{{tema.servicio_2}}</h3>
      </a>
      <a href="#" class="col-12 fcc home__serviceCard text-decoration-none text-dark">
        <h3>{{tema.servicio_3}}</h3>
      </a>
      <a href="#" class="col-12 fcc home__serviceCard text-decoration-none text-dark">
          <h3>{{tema.servicio_4}}</h3>
      </a>
    </div>
  </div>
  <!-- formulario de contacto -->
  <div class="col-lg-6 col-md-12 mt-5">
    <h2>Nos pongamos en contacto!</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="email_input">E-mail</label>
        <input type="email" class="form-control" id="email_input" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="nombre_input">Nombre y apellido</label>
        <input type="text" class="form-control" id="nombre_input" placeholder="Nombre y apellido">
      </div>
      <div class="form-group">
        <label for="consulta_textarea">Consulta</label>
        <textarea id="consulta_textarea" class="form-control" rows="5"></textarea>
      </div>
      <button type="submit" class="btn btn-success mt-2">Enviar</button>
    </form>
  </div>
</div>

{% endif %}
{% endblock %}