{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <div class="row mt-5">
    <h1 class="text-center">Contadora Macarena Fucilieri</h1>
  </div>
  <div class="row mt-5 d-flex presentacion1">
    <div class="col-12 col-md-6">
      <img class= "img-fluid" src="https://github.com/carrenogf/imagenes/blob/main/macarenafucilieriweb/trabajo-equipo-min.png?raw=true" alt="trabajo-equipo">
    </div>
    <div class="col-12 col-md-6">
      <div>
      <h2>¿Quien soy?</h2>
      <p>Soy Contadora Pública matriculada en el <a class="text-muted" target="_blank" href="https://www.cgcetucuman.org.ar/">Colegio de graduados en Ciencias Económicas de Tucumán</a>,
      me dedico al asesoramiento impositivo, contable y financiero de pymes y emprendedores argentinos
      </p>
      </div>
    </div>
  </div>
  <div class="row mt-5 d-flex presentacion2">
    <div class="col-12 col-md-6">
      <h2>¿Quien soy?</h2>
      <p>Soy Contadora Pública matriculada en el <a class="text-muted" target="_blank" href="https://www.cgcetucuman.org.ar/">Colegio de graduados en Ciencias Económicas de Tucumán</a>,
      me dedico al asesoramiento impositivo, contable y financiero de pymes y emprendedores argentinos
      </p>
    </div>
    <div class="col-12 col-md-6">
      <img class= "img-fluid" src="https://github.com/carrenogf/imagenes/blob/main/macarenafucilieriweb/trabajo-equipo2-min.png?raw=true" alt="trabajo-equipo">
    </div>
  </div>
</div>

{% endblock %}