.redes-container{
    width: 30%;
}
.servicios_contacto{
    // imagen background en el html para manejarla por backend
    padding: 15px;
    background-size: cover;
    .home__serviceTit{
        height: 10%;
        text-align: center;
    }
    .home__serviceCard_cont{
        height: 90%;
        .home__serviceCard{
            border-radius: 5px;
            background-color: rgba($color: #ffffff, $alpha: 0.3);
            text-align: center;
            margin: 5px;
            width: 80%;
            &:hover{
                background-color: rgba($color: $main-color, $alpha: 0.3);
            }
        }
    }
}
.carousel-item-dark{
    position: absolute;
    background-color: rgb($color:#000000,$alpha: 0.4);
    top: 0;
    height: 100%;
    width: 100%;
}

@media (max-width: 766px) {
    .presentacion1{
        text-align: center;
    }
    .presentacion2{
        flex-direction: column-reverse;
        text-align: center;
    }
    .redes-container{
        width: 70%;
    }
}